@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-popins {
  font-family: "Poppins", sans-serif;
}
/* *{ transition:all 400ms ease-in-out;} */

.bordr__grident_common:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px !important;
  padding: 0px !important;
  background: linear-gradient(135deg, #f2cd75 0%, #a97424 100%),
    linear-gradient(0deg, #000000, #000000) !important;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0) !important;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -10;
}

.common-shaddow {
  box-shadow: 0px 0px 10px 0px rgba(242, 205, 117, 1);
}
body {
  @apply bg-black;
}

.common_pera {
  @apply font-poppins font-normal text-sm md:text-base leading-140 text-white opacity-70;
}
.common_sub_pera {
  @apply font-poppins font-normal text-sm sm:text-sm leading-150 text-white opacity-70;
}
.tertiary_heading {
  @apply font-poppins font-semibold text-xl md:text-2xl leading-150 text-white;
}

.secondry_heading {
  @apply font-poppins font-semibold text-white text-[30px] md:text-3xl text-center;
}
.common-text-gradient {
  @apply bg-[linear-gradient(135deg,#f2cd75_0%,#a97424_100%)] bg-clip-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secondry_heading span {
  @apply bg-[linear-gradient(135deg,#f2cd75_0%,#a97424_100%)] bg-clip-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card_backdrop_filter {
  -webkit-backdrop-filter: blur(136.5px) !important;
  backdrop-filter: blur(136.5px);
  -moz-backdrop-filter: blur(136.5px) !important;
  -o-backdrop-filter: blur(136.5px) !important;
}
.common-arrow:hover {
  background: linear-gradient(135deg, #f2cd75 0%, #a97424 100%) !important;
}
.custom_dark_card_bg {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(136px);
  backdrop-filter: blur(136.5px);
}
.movieIcon_animation {
  animation: movieIcon_animation 3s ease-in-out infinite alternate;
}

@keyframes movieIcon_animation {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

/* 
slick dots 
 */

.slick-dots li button::before {
  @apply !text-[0] !leading-[0] !opacity-100 !block !w-5 !h-1 !p-1 !cursor-pointer !border-0 !outline-none !bg-white !rounded-base transition-all duration-300;
}

.slick-dots li.slick-active button:before {
  @apply !bg-gradient !w-6;
}


/* side bar scroll bar */
.custom__Scroll_bar::-webkit-scrollbar {
  width: 5px;
}

.custom__Scroll_bar::-webkit-scrollbar-thumb {
  background: #9E9D9D;
  border-radius: 20px;
}
.custom_Scroll_none::-webkit-scrollbar{
  display: none;
}