@tailwind base;
@tailwind components;
@tailwind utilities;

/* side bar scroll bar */
.custom__Scroll_bar::-webkit-scrollbar {
  width: 4px !important;
  display: block !important;
}

.custom__Scroll_bar::-webkit-scrollbar-thumb {
  background: #9e9d9d !important;
  border-radius: 20px !important;
}

::-webkit-scrollbar {
  display: none;
}

.hero_slider {
  animation-name: textSCroll;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: -100s;
}

.hero_slider2 {
  animation-name: textSCroll;
  animation-delay: -50s;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes textSCroll {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.hero_slider3 {
  animation-name: textSCroll2;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: -100s;
}

.hero_slider4 {
  animation-name: textSCroll2;
  animation-delay: -50s;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes textSCroll2 {
  0% {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.notification_hover_animation:hover {
  animation: notification_hover_animation 0.5s ease-in-out alternate;
}

@keyframes notification_hover_animation {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

.bell_icon:hover .notification_hover_animation {
  animation: notification_hover_animation 0.5s ease-in-out 1 alternate;
}

@media (max-width: 767.98px) {

  /* try */
  .hero_slider {
    animation-name: textSCroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateX(-800px);
    animation-delay: -40s;
  }

  .hero_slider2 {
    animation-name: textSCroll;
    animation-delay: -20s;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateX(-800px);
  }

  @keyframes textSCroll {
    0% {
      transform: translateX(-800px);
      -webkit-transform: translateX(-800px);
      -moz-transform: translateX(-800px);
      -ms-transform: translateX(-800px);
      -o-transform: translateX(-800px);
    }

    100% {
      transform: translateX(800px);
    }
  }

  @keyframes textSCroll {
    0% {
      transform: translateX(-800px);
      -webkit-transform: translateX(-800px);
      -moz-transform: translateX(-800px);
      -ms-transform: translateX(-800px);
      -o-transform: translateX(-800px);
    }

    100% {
      transform: translateX(800px);
    }
  }

  .hero_slider3 {
    animation-name: textSCroll2;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateX(-800px);
    animation-delay: -40s;
  }

  .hero_slider4 {
    animation-name: textSCroll2;
    animation-delay: -20s;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateX(-800px);
  }

  @keyframes textSCroll2 {
    0% {
      transform: translateX(800px);
      -webkit-transform: translateX(800px);
      -moz-transform: translateX(800px);
      -ms-transform: translateX(800px);
      -o-transform: translateX(800px);
    }

    100% {
      transform: translateX(-800px);
    }
  }
}

.rated_movies_shadow {
  box-shadow: 0 0 10px 0 #f2cd75;
}

.bg_attachment_fixed {
  background-attachment: fixed;
}

.bottom_blur_hero {
  background: linear-gradient(180deg,
      rgba(30, 30, 30, 0) 0%,
      #000000 100%,
      #000000 100%);
}

.account_library_slider_card {
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(205.44007873535156px);
  backdrop-filter: blur(205.44007873535156px);
}

.slick-dots {
  display: none !important;
}

@media (max-width:1279.80px) {
  .slick-dots {
    display: block !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/* comments like svg */
.like_svg_size svg {
  width: 13px;
  height: 12px;
}