@tailwind base;
@tailwind components;
@tailwind utilities;


/* side bar scroll bar */
.custom__Scroll_bar::-webkit-scrollbar {
    width: 4px !important;
    display: block !important;
}

.custom__Scroll_bar::-webkit-scrollbar-thumb {
    background: #9e9d9d !important;
    border-radius: 20px !important;
}

::-webkit-scrollbar {
    display: none;
}



.hero_slider {
    animation-name: textSCroll;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -100s;
}

.hero_slider2 {
    animation-name: textSCroll;
    animation-delay: -50s;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes textSCroll {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.hero_slider3 {
    animation-name: textSCroll2;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -100s;
}

.hero_slider4 {
    animation-name: textSCroll2;
    animation-delay: -50s;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes textSCroll2 {
    0% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.notification_hover_animation:hover {
    animation: notification_hover_animation 0.5s ease-in-out alternate;
}

@keyframes notification_hover_animation {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.bell_icon:hover .notification_hover_animation {
    animation: notification_hover_animation 0.5s ease-in-out 1 alternate;
}

@media (max-width: 767.98px) {

    /* try */
    .hero_slider {
        animation-name: textSCroll;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform: translateX(-800px);
        animation-delay: -40s;
    }

    .hero_slider2 {
        animation-name: textSCroll;
        animation-delay: -20s;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform: translateX(-800px);
    }

    @keyframes textSCroll {
        0% {
            transform: translateX(-800px);
            -webkit-transform: translateX(-800px);
            -moz-transform: translateX(-800px);
            -ms-transform: translateX(-800px);
            -o-transform: translateX(-800px);
        }

        100% {
            transform: translateX(800px);
        }
    }

    @keyframes textSCroll {
        0% {
            transform: translateX(-800px);
            -webkit-transform: translateX(-800px);
            -moz-transform: translateX(-800px);
            -ms-transform: translateX(-800px);
            -o-transform: translateX(-800px);
        }

        100% {
            transform: translateX(800px);
        }
    }

    .hero_slider3 {
        animation-name: textSCroll2;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform: translateX(-800px);
        animation-delay: -40s;
    }

    .hero_slider4 {
        animation-name: textSCroll2;
        animation-delay: -20s;
        animation-duration: 40s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transform: translateX(-800px);
    }

    @keyframes textSCroll2 {
        0% {
            transform: translateX(800px);
            -webkit-transform: translateX(800px);
            -moz-transform: translateX(800px);
            -ms-transform: translateX(800px);
            -o-transform: translateX(800px);
        }

        100% {
            transform: translateX(-800px);
        }
    }
}